@{
    ViewData["Title"] = "Finance";
}

<h1>Finance Page</h1>


You must have the finance or manager role to access this page.

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />