@{
    ViewData["Title"] = "Admin";
}

<h1>Admin page</h1>

You must have the admin and management role to access this page.

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />