@{
    ViewData["Title"] = "Index";
}

<h1>Contact us</h1>

This is a public that that anyone can access.

<br />
<br />

Here is how you can contact us:

<ul>
    <li>blog: <a href="https://nestenius.se">nestenius.se</a></li>
    <li>web: <a href="https://tn-data.se">tn-data.se</a></li>
    <li>email: <a href="mailto:tore@@tn-data.se">tore@@tn-data.se</a></li>
</ul>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />