@{
    ViewData["Title"] = "Sales";
}

<h1>Sales</h1>

You must have the sales or manager role to access this page.

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />