@{
    ViewData["Title"] = "Support";
}

<h1>Support</h1>

This is a page that only authenticated users can access.

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />