@{
    ViewData["Title"] = "Home Page";
}




<a asp-controller="Home" asp-action="Index">Home</a>
<br />
<a asp-controller="Home" asp-action="Time">Get Time</a>
<br />
<a asp-controller="Home" asp-action="ForbidUser">Forbid</a>
<br />
<a asp-controller="Home" asp-action="ChallengeUser">Challenge</a>
<br />
<a asp-controller="Home" asp-action="Exception">Exception</a>
<br />
