@{
    ViewData["Title"] = "CallApi";
}

<h3>Authentication Renewal Demo</h3>

<a href="/User/Login">Log in again to get a new ticket</a>
<br />
<br />

<ul id="Content"></ul>

<br />
<br />


@section Scripts {
    <script src="~/js/refresh.js"></script>
}
